{% trans_default_domain 'FOSUserBundle' %}

<h2>Edit Profile</h2>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-signin' } }) }}
    
    {{ form_widget(form) }}
    <input type="submit" id="_submit" name="_submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-lg btn-primary btn-block" />

{{ form_end(form) }}