{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	{% block fos_user_content %}
		<h2 class="form-signin-heading">Confirm Email</h2>
	    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	{% endblock fos_user_content %}
{% endblock body %}